{% extends "song_matcher/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Song Matcher home!</h1>
    <div>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> <i>Give us a shot</i>.</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <p>Consider this is a project in <b>its alpha version</b>.</p>

            {% if not similar_songs and not searched %}

            <img width="480" height="360" src='https://media2.giphy.com/media/tqfS3mgQU28ko/giphy.gif' >
            
            {% endif %}

        </div>
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>

    </div>

    <br>
    <br>
    <br>


    {% if similar_songs %}

      <div>
   
        <h3 class="border-bottom mb-4">These are some recommendations.</h3>

        
        {% for song_url in songs_urls %}

          <div class="media-body">

            <iframe src="{{ song_url }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

          </div>

        {% endfor %}
      </div>

      {% endif %}

      {% if not similar_songs and searched %}

      <p>Sorry, we have no options this time. Try another?</p>

      <img width="480" height="360" src='https://media.giphy.com/media/xUNd9FSoTS8CGC57mo/giphy.gif' >

      {% endif %}

{% endblock content %}